{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 100
}
